@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: "Montserrat", serif;
  background-color: #0d1117;
  color: aliceblue;
}

/* This section is for class objects*/
.Project {
  margin: 1rem auto;
  width: 65vw;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.362);
  display: grid;
  grid-auto-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.5fr 1.5fr 0.1fr;
  grid-template-areas: "projectimg projectheading" "projectimg projectdescription" "projectimg morebutton";
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  b {
    grid-area: projectheading;
    padding: 0 1rem;
  }
  img {
    grid-area: projectimg;
    width: 200px;
    margin: auto;
    padding: 5px;
  }
  a {
    grid-area: projectdescription;
    padding: 0 1rem;
  }
  button {
    grid-area: morebutton;
    width: 80px;
    float: right;
  }
}
.Project > * {
  margin: 10px;
}

.SectionHeading {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2rem;
}
.SectionBox {
  margin-top: 2rem !important;
  padding: 2rem;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  border: 1px solid white;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}
.line {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.certificate {
  display: grid;
  grid-template-columns: 0.1fr 1.9fr;
  grid-template-areas: "cerimg cerName" "cerimg cerissue";
  padding: 5px;
  img {
    width: 50px;
    grid-area: cerimg;
    margin: auto auto;
    padding: 5px;
  }
  b {
    grid-area: cerName;
    padding: 5px;
  }
  i {
    grid-area: cerissue;
    padding: 5px;
  }
}
.skill {
  padding: 1rem 2rem;
  img {
    width: 50px;
    margin: 15px;
    border-radius: 2.5px;
  }
}

/* This section is for id objects*/

#BannerContainer {
  display: grid;

  margin: 0 auto;
  padding-top: 7%;
  padding-bottom: 7%;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "bannerimg bannername";
  img {
    width: 25vw;
    min-width: 300px;
    grid-area: bannerimg;
    margin: 0 auto;
    border-radius: 100% 25% 75% 65%;
    animation: move-border 5s linear infinite;
    border: 2px solid white;
  }
}
@keyframes move-border {
  0% {
    border-radius: 50% 75% 50% 75%;
  }
  25% {
    border-radius: 25% 46% 25% 85%;
  }
  75% {
    border-radius: 85% 60% 55% 75%;
  }
  100% {
    border-radius: 50% 75% 50% 75%;
  }
}

#BannerName {
  grid-area: bannername;
  margin: auto auto;
  h4 {
    font-size: 60px;
  }
  a {
    font-size: 30px;
  }
}

#AboutMecontainer {
  width: 80vw;

  margin: 0 auto;
  text-align: justify;
  padding-bottom: 15%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "aboutmatter aboutimg";
  div {
    grid-area: aboutmatter;
    text-align: justify;
    padding-top: 20px;
  }
  img {
    grid-area: aboutimg;
    width: 350px;
  }
}

#Educationbox {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
#collegeBox {
  background-color: #2a3648;
  box-shadow: 3.8px 7.5px 7.5px hsla(0, 0%, 0%, 0.38);
  border-radius: 5px;
  padding: 2rem;
  margin: 2rem;
}
#certificationBox {
  background-color: #2a3648;
  box-shadow: 3.8px 7.5px 7.5px hsla(0, 0%, 0%, 0.38);
  border-radius: 5px;
  padding: 2rem;
  margin: 2rem;
}
#skillcontainer {
  width: 80vw;
  margin: 0 auto;
  background-color: #313842;
  border-radius: 5px;
  padding: 1rem;
}

#workgrid {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-template-columns: 0.5fr 0.1fr 2fr;
  grid-template-rows: 25px 1fr;
  grid-template-areas: "workimg workdot workmatter" "workimg workline workmatter";
}
#workdot {
  grid-area: workdot;
}
#workimg {
  grid-area: workimg;
  text-align: end;
  padding-right: 5px;
  img {
    width: 50px;
    border-radius: 5px;
  }
}
#workmatter {
  grid-area: workmatter;
  padding: 2rem;
  padding-top: 0;
}
#workline {
  grid-area: workline;
}

#ContactBox {
  div {
    margin: 0 auto;
    width: 70vw;
    text-align: center;
    height: 35vh;
  }
}

/* This section is for bootstrap objects*/

.progress {
  --bs-progress-height: 0.5rem !important;
  --bs-progress-font-size: 0.5rem !important;
}

/* This section is for mobile version*/

@media only screen and (max-width: 600px) {
  #BannerContainer {
    padding-top: 25%;
    grid-template-columns: 1fr;
    grid-template-areas: "bannername" "bannerimg";
    img {
      width: 100px;
      margin-top: 15px;
    }
  }
  #BannerName {
    h4 {
      font-size: 30px;
    }
    a {
      font-size: 20px;
    }
  }

  #AboutMecontainer {
    grid-template-columns: 1fr;
    grid-template-areas: "aboutmatter" "aboutimg";
    img {
      margin: 0 auto;
      width: 300px;
    }
  }
  #Educationbox {
    grid-template-columns: 1fr;
    font-size: 20px;
  }
  .Project {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 0.5fr 0.1fr;
    grid-template-areas: "projectimg" "projectheading" "projectdescription" "morebutton";

    img {
      width: 30vw;
    }
  }

  #workmatter {
    font-size: 12px;
  }

  .skill {
    font-size: 12px;
    img {
      width: 30px;
    }
  }
}
